---
import ProjectsData from '../data/Projects.js';
---

{
  ProjectsData.map(({img, title, description, tags, github}) => (
    <article class="relative flex flex-col gap-y-2 max-w-[300px] h-[300px] max-h-[300px] lg:max-w-sm border rounded-lg shadow bg-russian_violet/30 border-grape/50 hover:bg-russian_violet/50">
      <a href={github} class="absolute top-2 right-2 text-xs font-semibold px-2 py-1 rounded bg-gray-700 text-neon_blue border border-neon_blue h-fit">GitHub</a>
      <div class="flex flex-col items-center gap-y-2">
        <img class="rounded-t-lg h-[150px] w-[384px]" src={img} alt={title} />
        <h3 class="text-electric_indigo text-lg cursor-pointer items-center lg:text-xl">{title}</h3>
      </div>
      <div class="flex flex-col flex-1 justify-around gap-y-2 px-4">
        <p class="text-sm md:text-base">{description}</p>
        <ul class="flex flex-wrap gap-x-2 gap-y-2 mb-6">
          {tags.map(tag => (
            <li>
              <span class={`flex gap-x-1 items-center text-xs rounded-full text-s ${tag.class} py-1 px-2`}>
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
}

<!-- <div class="flex gap-x-4 pl-6">
  <a href="#" class="text-xs font-semibold px-2 py-0.5 rounded bg-gray-700 text-blue-400 border border-blue-400 inline-block w-fit">Web</a>
</div> -->